<link href="css/style.css" rel="stylesheet" type="text/css">

<div class="sidebig">
<div class="sidetop">
    <div id="sidetop-inside"></div>
     <img src="images/logo.svg" id="logo"> 
</div>  


<div class="sidebottom">
    <div class="sidemoon">
        <img src="images/icon-moon.svg" id="moon" onclick="changetheme(this)" >
    </div>
    <img src="images/image-avatar.jpg" id="man">
</div>
</div>